.list {
    margin-bottom: 30px;
    transition: 0.2s ease;
    &__add-button {
        opacity: 0.5;
        transition: 0.3s ease;
      &:hover {    
        opacity: 1;
      }
    }
    li {
      display: flex;
      align-items: center;
      padding: 10px 12px;
      cursor: pointer;
      &.active {
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
      }
      .badge {
        position: relative;
        left: 5px;
      }
      i {
        display: inline-flex;
        margin-right: 8px;
       svg {
         path {
           fill: #7C7C7C;
         }
       }
      }

    }
  }